html, body{
  height: 95%;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;

}

.justify-content{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.ticTacToe {
  width: 200px;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-container{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.board-container{
  height: 85%;
  width: 100%; 
}

.board {
  width: 492px;
  
}

.box {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  width: 160px;
  height: 160px;
  border:2px solid black;
}

.box:hover {
  background-color: rgba(154, 187, 240, 0.551);
  cursor: pointer;
}

.margin {
  margin-bottom: -80px;
  padding: -50px 0px -50px;
}

img{
  padding-bottom: 10px;
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #63f1e380;
  margin: 18% auto; /* 15% from the top and centered */
  /* padding: 20px; */
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 20%;  

}

.modal-content p{
  color: white;
  text-align: center;
  font-size: 2em;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 25px;
}

.close:hover{
  /* color: black; */
  text-decoration: none;
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class="modal-content"] {
    width: 50%;
    height: 10%;
  }
}

